<% provide(:title, "About Us") %>
<h1>Who we are?</h1>
<p>We are individuals who want to share</p>
<p> Our Joy.</p>
<p> Our Pains.</p>
<p> Our Experiences.</p>
<p> Our Secrets.</p>
<p> Our Laughter.</p>
